{% extends 'html/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
{% load static %}
<!-- Background image -->

<div class="jambotromp  bg-secondary p-4 mt-3 text-white" style="margin-bottom:0">

<div class="row">
      <div class="col-sm"><img src="{% static 'images/dig.png' %}" alt="" width="140" height="130" title="Aits" class="text-center rounded-circle">
        <h4> 
                         Digital Library
                     
                
           </h4>    

    </div>
      <div class="col-sm"><img src="{% static 'images/libr.jpg' %}" alt="" width="140" height="130" title="Aits" class="text-center rounded-circle">
        <h4>All Dept.<br> Accadamic Books</h4>
      </div>
      <div class="col-sm"><img src="{% static 'images/new.jpg' %}" alt="" width="140" height="130" title="Aits" class="text-center rounded-circle">
        <h4>News Papers</h4></div>
      <div class="col-sm"><img src="{% static 'images/name.jpg' %}" alt="" width="140" height="130" title="Aits" class="text-center rounded-circle"><h4>Previous Papers</h4></div>
    </div>



  <h1 class="text-center text-primary">ABOUT US</h1>



<div class="card p-4 mt-3 bg-dark text-white shadow">
<div class="widgets_row">
  <div class="container">
    <div class="footer_widgets">
      <div class="row">

        <div class="col-sm-6 p-4 mt-1">
          <section id="text-7" class="widget widget_text">

            <div class="textwidget">
              <div class="foot-contact text-center">
                <h1 class="p-4">AITS LIBRARY</h1>
              </div>
            </div>
         
        </section>
      </div>


<div class="col-sm-6 p-4 mt-1">
        <section id="recent-posts-2" class="widget widget_recent_entries">
          <h4 class="widget_title no_stripe">The Central library has an extensive collection of books and is augmented on a continuous basis. The library subscribes to popular periodicals, national and international journals. The library is also having Educational Audio & Video Cassettes, CD ROMs, Back Volumes, Project Reports, Thesis reports etc. The library and reading room shall be open from 9.00 AM to 6 PM on all working days.</h4>
            
          </section>
       </div>


</div>
</div>
</div>
</div>
















 </div> 



{% endblock %}