{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="text/css" href="{% static 'images/aits.jpg' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'jquery/sample.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	{% include 'html/navbar.html' %}
    
	{% block content %}
	{% endblock %}
  </body>
</html>
<br>
<nav id='footer'>
<footer  class="bg-light text-center">
   <!-- Grid container -->
<footer style=" position:relative;">      <!--Grid row-->
               <!--Grid column-->
            <div class="text-center width=100%"  style="background-color: rgba(2, 0, 1, 0.5);">
               <h5 class="text-uppercase">Annamacharya Instuite of Technology And Sciences</h5>
               <p>
                  AITS     
               </p>
               <p>Follows Us On</p>
                        <a href="https://www.facebook.com/AnnamacharyaGroup/" target="_blank">
                          <img class="size-full wp-image-5649" src="{% static 'images/facebook.png' %}" alt="Facebook">
                        </a>
                        <a href="https://twitter.com/Annamacharya4" target="_blank">
                          <img class="size-full wp-image-5651" src="{% static 'images/twitter.png' %}" alt="Twitter">
                        </a>
                        <a href="https://www.linkedin.com/company/annamacharya-group/" target="_blank">
                          <img class="size-full wp-image-5651" src="{% static 'images/linkedin.png' %}" alt="LinkedIn">
                        </a>
                        <a href="https://www.youtube.com/channel/UCumc55JKI3Y4CnaakI97d9w" target="_blank">
                          <img class="size-full wp-image-5652" src="{% static 'images/youtube.png' %}" alt="Youtube">
                        </a>
                        <a href="https://www.quora.com/profile/Annamacharya-Group" target="_blank">
                          <img class="size-full wp-image-5652" src="{% static 'images/quora.png' %}" alt="Quora">
                        </a>
                        <a href="https://www.instagram.com/annamacharya_group/" target="_blank">
                          <img class="size-full wp-image-5652" src="{% static 'images/instagram.png' %}" alt="instagram">
                        </a>
            </div>
            
           
         </div>
      </div>
   </div>
</footer>
</footer></nav>