{% extends 'html/base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
<script type="text/javascript">
	$(document).on('click', '.confirm-send', function(){
    return confirm('Please check your mail for changing Password .');
})
</script>
<div class="container">
	<div class="card mx-auto col-md-6 mt-4 p-2 shadow-lg">
		<div class="card-body">
			<h3 class="bg-warning text-center text-light p-2 border rounded">Change Password</h3>
			<form method="POST">
				{% csrf_token %}
				<table class="table table-borderless">
						{% for i in t %}
						<tr>
							<td>{{i}}</td>
						</tr>
						{% endfor %}
				</table>
				<input type="submit" value="change" class="form-control my-2 btn btn-success btn-block confirm-send">
			</form>
		</div>
		
	</div>
	
</div>

{% endblock %}