{% extends 'html/base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
{% load static %}



<div class="jambotromp text-center bg-secondary p-4 mt-3 text-white" style="margin-bottom:0">
  <h1>CONTACT US</h1>
</div>  




<div class="card p-3 mt-1 bg-dark text-white shadow">
<div class="widgets_row">
  <div class="container">
    <div class="footer_widgets">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section id="text-7" class="widget widget_text">
            <h4 class="widget_title no_stripe">Contact Us</h4>
            <div class="textwidget">
              <div class="foot-contact">Annamacharya Institute of Technology & Sciences<br>Venkatapuram,Renigunta, Tirupati<br>Chitoor District, Andhra Pradesh – 517520.
                <p>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
</svg> : 
                  <a class="footcontact" href="tel:0877-2285609">0877-2285609</a>
                  <br>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
</svg> : 
                  <a class="footcontact" href="tel:0877-2285608">0877-2285608</a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-24 no-pad"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
  <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
</svg> :
                  <a class="" href="tel:+91-9948149222">+91-9948149222</a><br>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
  <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
</svg> :
                  <a class="footcontact" href="tel:+91-9948661276">+91-9948661276</a>
                </p>
                <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-text-fill" viewBox="0 0 16 16">
                    <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z"/></svg> :  
                  <a class="footcontact" href="mailto:aitstpt@yahoo.com">aitstpt@yahoo.com</a> | <a class="footcontact" href="mailto:aitsadmissions@gmail.com">aitsadmissions@gmail.com</a>
                </p>
              </div>
            </div>
         </div>
        </section>
      </div>
      


      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <section id="recent-posts-2" class="widget widget_recent_entries">
          <h4 class="widget_title no_stripe">Annamacharya Institute of Technology & Sciences, Tirupati</h4>
            <span class="head-text text-center">Approved by AICTE, New Delhi & Permanent Affiliation to JNTUA, Anantapuramu.<br>
Two B.Tech Programmes (CSE & ECE) are accredited by NBA, New Delhi.<br>Accredited by NAAC with 'A' Grade, Bangalore. Accredited by Institution of Engineers (India), KOLKATA.<br>A-grade awarded by AP Knowledge Mission. Recognized under sections 2(f) & 12(B) of UGC Act 1956.
</span>
<p text-center>Venkatapuram (Village),<br>Renigunta (Mandal),<br>Tirupati, Chittoor District,<br>
          </section>
       </div>
        


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <section id="text-8" class="widget widget_text">
            <h4 class="widget_title no_stripe">News & Events</h4>
            <div class="textwidget">
              <div class="man-bg">
                <div id="text-slider">
                  <div class="text-slideshow">
                    <article class=".dummy-slide" style="position: static; visibility: hidden; display: block;">STTP on Industrial Automation using Programmable logic
                      <span style="visibility: hidden;">Controllers and Electro-Mecanical Transducers</span>
                    </article>
                    <article>STTP on Industrial Automation using Programmable logic
                      <span>Controllers and Electro-Mecanical Transducers</span>
                    </article>
                     
                   <section id="custom_html-3" class="widget_text widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                      <p class="center social">
                        <a href="https://www.facebook.com/AnnamacharyaGroup/" target="_blank">
                          <img class="size-full wp-image-5649" src="{% static 'images/facebook.png' %}" alt="Facebook">
                        </a>
                        <a href="https://twitter.com/Annamacharya4" target="_blank">
                          <img class="size-full wp-image-5651" src="{% static 'images/twitter.png' %}" alt="Twitter">
                        </a>
                        <a href="https://www.linkedin.com/company/annamacharya-group/" target="_blank">
                          <img class="size-full wp-image-5651" src="{% static 'images/linkedin.png' %}" alt="LinkedIn">
                        </a>
                        <a href="https://www.youtube.com/channel/UCumc55JKI3Y4CnaakI97d9w" target="_blank">
                          <img class="size-full wp-image-5652" src="{% static 'images/youtube.png' %}" alt="Youtube">
                        </a>
                        <a href="https://www.quora.com/profile/Annamacharya-Group" target="_blank">
                          <img class="size-full wp-image-5652" src="{% static 'images/quora.png' %}" alt="Quora">
                        </a>
                        <a href="https://www.instagram.com/annamacharya_group/" target="_blank">
                          <img class="size-full wp-image-5652" src="{% static 'images/instagram.png' %}" alt="instagram">
                        </a>
                      </p>
                    </div>
                  </section>

                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

</div></div>
{% endblock %}