{% extends 'html/base.html' %}
{% block title %}Dash{% endblock %}
{% block content %}

<div clas="container">
	<div class="card col-md-6 mx-auto mt-4">
		<h3>Hi Welcome {{user.username}}</h3>
	</div>	
<div class=" mx-auto card col-md-8 container-fluid" style="margin-top:60px"><h4 class="p-3 bg-success text-center mt-3 border rounded ">Available Books</h4>
			<table class="table">
				<tr class="bg-dark text-light">
					<td>Book_Name</td>
					<td>Book_Available</td>
					<td>Total_Books</td>
					<td>Issued_Books</td>
					<td>Book_Author</td>
				</tr>

					{% for i in t %}
				
				<tr>
				<td>{{i.Book_name}}</td>
				<td>{{i.Book_count}}</td>
				<td>{{i.Book_Updatedcount}}</td>
				<td>{{i.Book_Updatedcount}}</td>
				<td>{{i.Book_author}}</td>
				

				{% endfor %}				
				</tr>
<br>
			</table>
		</div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}