
{% extends 'html/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<!-- Background image -->
<div class="bg-image" 
   style="background-image: url('https://img.freepik.com/free-vector/close-up-minimalist-honeycomb-background-design_23-2148386679.jpg?size=626&ext=jpg');
   height: 100%">


<div class="jumbotron bg-secondary text-center text-white mt-3" style="margin-bottom:0">
  <h1>AITS LIBRARY</h1>
</div>
<br><br>
<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>

  </ul>

  <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item  active" >
        <img src="{% static 'images/libnew.jpg' %}" class="mx-auto d-block" style="width:50%">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/libnew1.jpg' %}" class="mx-auto d-block" style="width:50%">
             </div>
             <div class="carousel-item">
              <img src="{% static 'images/libnew2.jpg' %}" class="mx-auto d-block" style="width:50%">
             </div>                      
             <div class="carousel-item">
              <img src="{% static 'images/libnew3.jpg' %}" alt="" class="mx-auto d-block" style="width:50%">
             </div>
         </div>

         <!-- Left and right controls -->
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
         </a>
     </div></div>
   </div><br>
{% endblock %}
