



{% extends 'html/base.html' %}
{% block title %}User Credentials{% endblock %}
{% block content %}
 <div class="container">
  <div class="card mx-auto col-md-4 mt-5">
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data">
        <h3>User Role Request Form</h3>
        {% csrf_token %}
        <input type="text" name="uname" placeholder="Enter Username" class="form-control my-2" value="{{request.user.username}}" readonly>
         <input type="text" name="ID" placeholder="Enter your ID" class="form-control my-2" value="ID">
        <input type="email" name="email" placeholder="Enter your Mail ID" class="form-control my-2" value="email">
         <input type="number" name="pn" class="form-control my-4" placeholder="Enter your Phone Number">
        <select name="utype" class="form-control my-2">
        <option value="Select Your Role">Select Your Department</option>
                    <option>CSE</option>
                    <option>ECE</option>
                    <option>CIVIL</option>
                    <option>MECH</option>
                    <option>EEE</option>
        
          </select>
     <h5 class="text-info">Insert ID Card 
            (jpeg,png,pdf)</h5>
        <input type="file" name="fe" multiple placeholder="select ur files" class="form-control-file my-2">
       
        <div class="row">
          <div class="col">
          <input type="reset" name="Reset" class="btn btn-danger col-sm">
          </div>
          <div class="col">
          <input type="submit" value="Approve my request" class="btn btn-success col-sm">
          </div>
                </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
