{% extends 'html/base.html' %}
{% block title %}Request{% endblock %}
{% block content %}
<div class="container mt-5">
   <div class="card col-md-6 mx-auto mt-5 shadow-lg">
      <h3 class="text-center text-white bg-info border rounded p-2 mt-2">Request Role</h3>
      <div class="card-body">
         <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="rollno" class="form-control my-3" placeholder="Enter your Roll Number">
             <div class="form-group">
                  <label for="sel1">Select Your Department</label>
                  <select class="form-control" id="sel1" name="sellist1">
                     <option>Other</option>
                    <option>CSE</option>
                    <option>ECE</option>
                    <option>CIVIL</option>
                    <option>MECH</option>
                    <option>EEE</option>
                  </select>
               </div>
            <input type="email" name="email" class="form-control my-4" placeholder="Enter your Mail ID">
            <input type="number" name="pn" class="form-control my-4" placeholder="Enter your Phone Number">
            <h5 class="text-info">Insert Id card image/file to Authenticate</h5>
            <input type="file" name="id" class="form-control my-4" placeholder="Insert ID card">
            <input type="submit" value="Send" class="btn btn-info text-white  col-sm">  

         </form>
      </div>
   </div>
</div>      <br><br><br><br><br>

{% endblock %}